<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-3">
    <div class="col-8 offset-2" >

 
    <h3>Edit your listing</h3>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST">
        <div class="mb-3">
            <lable for="title" class="form-label">Title</lable>
            <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control">
        </div>

        <div class="mb-3">
            <lable for="description" class="form-label">Description</lable>
            <textarea type="text" name="listing[description]" class="form-control" ><%= listing.description %></textarea>
        </div>

        <div class="mb-3">
            <lable for="image" class="form-label">Image URL</lable>
            <input type="text" name="listing[image]" value="<%= listing.image %>" class="form-control">
        </div>

        <div class="row">
        <div class="mb-3 col-md-4">
            <lable for="price" class="form-label">Price</lable>
            <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control">
        </div>

        <div class="mb-3 col-md-8 ">
            <lable for="country" class="form-label">Country</lable>
            <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control">
           
        </div>
       </div>

        <div class="mb-3">
            <lable for="location" class="form-label">Location</lable>
            <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control">
        </div>
      
        
        <button class="btn btn-dark edit-btn mt-3">Edit</button>

    </form>
   </div>
</div>
